.root {
    margin-bottom: 0.5em;
    color: #000000d9;
    font-weight: 600;

    &.backLine {
        text-align: center;

        &::after {
            content: "";
            display: block;
            width: 30%;
            max-width: 100px;
            position: relative;
            border-bottom: 1px solid #aaa;
            margin: 10px auto 0;
        }
    }
}

.h1 {
    font-size: 38px;
    line-height: 1.23;
}

.h2 {
    font-size: 30px;
    line-height: 1.35;
}
.h3 {
    font-size: 24px;
    line-height: 1.35;
}
.h4 {
    font-size: 20px;
    line-height: 1.4;
}
.h5 {
    font-size: 16px;
    line-height: 1.5;
}
