.root {
  margin-left: 8px;
  width: 24px;
  height: 24px;

  a {
    width: 24px;
    height: 24px;
    line-height: 0;
    outline: none;
  }

  & svg {
    width: 16px;
    height: 16px;
    opacity: 0.2;

    &:hover {
      opacity: 1;
      transition: opacity 0.2s linear;
    }
  }
}
